<!DOCTYPE html>
<html>
<head>
    <title>Server Error</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="login-container">
        <h1 class="siteTitle">CAITLibot</h1>
        <h2>Something went wrong</h2>
        <div style="text-align: center;"><%= errorMessage %></div>
    </div>
</body>
</html>
